/**************** General styles. ******************/
html, body
{
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100%;
    font-size: 16px;
    background-image: none;
    position: static;
}

#backgroundDiv 
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: url('../images/gw2-celadon-forest-borderless.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; removed for Android */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/**************** Header styles. ******************/
header 
{
    position: absolute;
    top: 0px;
    left: 4%;
    width: 92%;
    height: 80px;
    background-color: saddlebrown;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
    background-color: #7A7561;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    box-sizing: content-box;
    border: 0px solid #000000;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

header .icon 
{
    position: absolute;
    left: 10px;
    top: 20%;
    height: 60%;
}

header h1 
{
    margin-top: 20px;
    font-size: 36px;
    border: none;
}

@media only screen and (min-width : 500px) 
{
    header .icon 
    {
        top: 10%;
        height: 80%;
    }
}
@media only screen and (min-width : 675px) 
{
    header .icon 
    {
        top: 5%;
        height: 90%;
    }
}
@media only screen and (min-width : 768px) /* Offical bootstrap breakpoint. */
{
    header 
    {
        left: 0px;
        width: 25%;
        border-radius: 0px;
    }

    header .icon 
    {
        display: none;
    }

    header h1 
    {
        font-size: 32px;
        margin-top: 25px;
    }
}

/**************** Nav styles. ******************/
nav 
{
    position: absolute;
    right: 105%;
    top: 90px;
    padding-bottom: 90px;
    box-sizing: border-box;
    background-color: indianred;
    z-index: 5;
    width: 75%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: #C1B99B;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    -webkit-transition: right 1s;
    transition: right 1s;
}

nav.animate 
{
    right: 25%;
}

nav a 
{
    display: block;
    height: 60px;
    min-width: 800px;
    border-top: solid 1px black;
    margin-top: -1px;
    font-size: 20px;
    padding: 0;
    color: #000;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

nav a img.icon 
{
    float: left;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav a i
{
    float: left;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}

nav a label 
{
    float: left;
    margin-top: 15px;
}

@media only screen and (min-width : 768px) 
{
    nav 
    {
        padding-top: 0px;
        top: 80px;
        left: 0;
        width: 25%;
        border-radius: 0px;
    }

    nav.animate 
    {
        left: 0px;
    }

    nav a label 
    {
        font-size: 18px;
        margin-top: 20px;
        word-break: keep-all;
    }
}

/**************** Main (tag) styles. ******************/
main 
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

main .main-content
{
    margin-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    
}

main .main-content-wiki
{
    margin-top: 140px;
}

@media only screen and (min-width : 768px) 
{
    main 
    {
        padding-left: 27%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
    }

    main .main-content
    {
        margin-top: 0px;
    }
}

/**************** World Boss styles. ******************/
.column-scroll 
{
    height: 100%;
    overflow-y: auto;
}

.world-boss-sidebar 
{
    height: 100%;
    overflow-y: auto;
}
.world-boss-sidebar .event
{
    padding: 10px;
    font-size: 16px;
    float: left;
    width: 100%;
}

.world-boss-sidebar .event img.preview
{
    margin-top: 5px;
    width: 33%;
    float: left;
}

.world-boss-sidebar .event .title
{
    float: left;
    width: 66%;
    padding-left: 5px;
    font-size: 14px;
}
@media only screen and (min-width : 534px) 
{
    .world-boss-sidebar .event .title 
    {
        margin-top: 15px;
        font-size: 18px;
    }
}
@media only screen and (min-width : 768px) 
{
    .world-boss-sidebar .event img.preview 
    {
        margin-top: 10px;
    }
    .world-boss-sidebar .event .title 
    {
        margin-top: 10px;
        font-size: 14px;
    }
}
@media only screen and (min-width : 992px) 
{
    .world-boss-sidebar .event .title 
    {
        font-size: 16px;
    }
}

.world-boss-mainbar .event
{
    color: #FFF;
    min-height: 175px;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
    padding-top: 50px;
}
@media only screen and (min-width : 1200px) 
{
    .world-boss-mainbar .event
    {
        width: 45%;
        display: inline-block;
        margin-right: 5%;
    }
}

.world-boss-mainbar .event img.preview 
{
    background: url('../images/gw2-celadon-forest-borderless.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/**************** Home styles. ******************/
.main-content.home
{
    padding-top: 10px;
    padding-bottom: 10px;
}

/**************** Color Wars styles. ******************/
.color-wars-sidebar 
{
    height: 100%;
    overflow-y: auto;
    text-align: center;
}

.video-selector
{
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.video-selector select
{
    width: 75%;
}

.video-description
{
    padding: 10px;
}


/**************** Wiki styles. ******************/

.wiki-menu
{
    position: fixed;
    width: 80%;
    top: 0px;
    left: 10%;
    height: 130px;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 9;
    background-color: #C4BB9D;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}