﻿<!DOCTYPE html>
<html>
    <head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://www.youtube.com data: gap: http://wiki.guildwars2.com data: 'unsafe-eval'; style-src 'self' https://wiki.guildwars2.com 'unsafe-inline'; media-src *; script-src 'self'; img-src * filesystem: data:; connect-src *;">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <title>TenguTalk</title>

        <!------------- CSS section. ------------->
        <link rel="stylesheet" type="text/css" href="css/plugins/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://wiki.guildwars2.com/load.php?debug=false&lang=en&modules=ext.smw.style%7Cext.smw.tooltip.styles&only=styles&skin=monobook">
        <link rel="stylesheet" type="text/css" href="https://wiki.guildwars2.com/load.php?debug=false&lang=en&modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.content.externallinks%7Cmediawiki.skinning.interface%7Cskins.monobook.styles&only=styles&skin=monobook">
        <link rel="stylesheet" type="text/css" href="https://wiki.guildwars2.com/load.php?debug=false&lang=en&modules=site.styles&only=styles&skin=monobook">
        <link rel="stylesheet" type="text/css" href="css/site.css">
        

        <!------------- Javascript section. ------------->
        <script type="text/javascript" src="https://wiki.guildwars2.com/load.php?debug=false&lang=en&modules=startup&only=scripts&skin=monobook"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="scripts/platformOverrides.js"></script>
        <script type="text/javascript" src="scripts/plugins/angular.js"></script>
        <script type="text/javascript" src="scripts/plugins/angular-sanitize.js"></script>
        <script type="text/javascript" src="scripts/plugins/angular-route.min.js"></script>


        <script type="text/javascript" src="scripts/index.js"></script>
        <script type="text/javascript" src="scripts/services/events.js"></script>
        <script type="text/javascript" src="scripts/services/videos.js"></script>
        <script type="text/javascript" src="scripts/filters/numberfixedlength.js"></script>
        <script type="text/javascript" src="scripts/filters/worldBossSorterAll.js"></script>
        <script type="text/javascript" src="scripts/filters/worldBossSorterRunning.js"></script>
        <script type="text/javascript" src="scripts/filters/worldBossSorterETA.js"></script>
        <script type="text/javascript" src="scripts/controllers/home.js"></script>
        <script type="text/javascript" src="scripts/controllers/options.js"></script>
        <script type="text/javascript" src="scripts/controllers/worldboss.js"></script>
        <script type="text/javascript" src="scripts/controllers/colorwars.js"></script>
        <script type="text/javascript" src="scripts/controllers/wiki.js"></script>
        <script type="text/javascript" src="scripts/directives/wikiLinkInterceptor.js"></script>
        <script type="text/javascript" src="scripts/directives/wikiContent.js"></script>
    </head>
    <body ng-app="tenguTalkApp" ng-controller="mainCtrl">
        <div id="backgroundDiv">

        </div>
        <header>
            <img class="icon" src="images/icons/hamburger-boring.png" alt="Menu" title="Hamburger Menu Icon" ng-click="toggleNav()" />
            <h1>{{title}}</h1>
        </header>
        <nav ng-class="{'animate': showNav}">
            <a href="#!home" ng-click="toggleNav()">
                <i class="glyphicon glyphicon-home"></i>
                <label>Home</label>
            </a>
            <a href="#!wiki" ng-click="toggleNav()">
                <i class="glyphicon glyphicon-search"></i>
                <label>Wiki</label>
            </a>
            <a href="#!worldboss" ng-click="toggleNav()">
                <i class="glyphicon glyphicon-time"></i>
                <label>World Bosses</label>
            </a>
            <a href="#!colorwars" ng-click="toggleNav()">
                <i class="glyphicon glyphicon-film"></i>
                <label>Color Wars</label>
            </a>
            <!--<a href="#!options" ng-click="toggleNav()">
                <i class="glyphicon glyphicon-time"></i>
                <label>Options</label>
            </a>-->
        </nav>
        <main ng-view>
        </main>
    </body>
</html>
