﻿<div class="row" style="height: 100%;">

    <!-- Column that shows on tablets and up. -->
    <div class="col-xs-12 column-scroll hidden-xs">
        <div class="main-content">
            <div class="color-wars-sidebar">

                <div class="">
                    <div class="col-xs-4">
                        <div class="video-selector">
                            <select ng-model="selectedVideo" ng-options="v.snippet.title for v in videos track by $index" ng-change="updateVideoPlayer()">
                                <option value="">Select a Video</option>
                            </select>
                        </div>
                        <p class="video-description">
                            {{selectedVideo.snippet.description}}
                        </p>
                    </div>
                    <div class="col-xs-8" style="padding-top: 75px;">
                        <iframe id="player" type="text/html" ng-src="{{selectedVideoUrl}}" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Column that shows on mobiles only. -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <div class="main-content">
            <div class="color-wars-sidebar">
                <div class="video-selector">
                    <select ng-model="selectedVideo" ng-options="v.snippet.title for v in videos track by $index" ng-change="updateVideoPlayer()">
                        <option value="">Select a Video</option>
                    </select>
                </div>
                
                <iframe id="player" type="text/html" ng-src="{{selectedVideoUrl}}" frameborder="0"></iframe>
                <p class="video-description">
                    {{selectedVideo.snippet.description}}
                </p>
            </div>
        </div>
    </div>
</div>