﻿<div class="main-content home">
    <p>
        © 2015 ArenaNet, LLC. All rights reserved. NCSOFT, the interlocking NC logo, ArenaNet, 
        Guild Wars, Guild Wars Factions, Guild Wars Nightfall, Guild Wars: Eye of the North, 
        Guild Wars 2, Heart of Thorns, and all associated logos and designs are trademarks or 
        registered trademarks of NCSOFT Corporation. All other trademarks are the property of 
        their respective owners.
    </p>
    <p>
        This application is not affiliated with Guild Wars 2, Arenanet, or any of its products. 
    </p>
    <!--<p>
        This application uses Google Analytics to track user interactions within the application. 
        It in no way tracks user data or anything tying data to the end user. By using this 
        application, you agree to these terms. If you refuse, please uninstall the application.
    </p>-->
</div>