﻿<div class="main-content main-content-wiki" style="overflow-x: auto;">
    <div class="wiki-menu">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Text" ng-model="searchString" ng-keyup="searchKeyUp($event);">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search();">Search</button>
            </span>
        </div>
    </div>
    <wiki-content />
</div>