﻿<div class="row" style="height: 100%;">

    <!-- Column that shows on tablets and up. Shows running bosses only. -->
    <div class="column-scroll hidden-xs col-sm-6 col-lg-8">
        <div class="world-boss-mainbar-container">
            <div class="world-boss-mainbar">
                <div class="event" ng-repeat="event in masterList | worldBossSorterRunning | limitTo:maxWorldBosses"
                     style="background-image: url({{event.img}});">
                    <span class="title">
                        {{event.title}} <br />
                        {{event.timeRemaining.label}}{{event.timeRemaining.hours | numberFixedLength:2 }}:{{event.timeRemaining.minutes | numberFixedLength:2 }}:{{event.timeRemaining.seconds | numberFixedLength:2 }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Column that shows on tablets and up. Shows ETA bosses only. -->
    <div class="column-scroll hidden-xs col-md-6 col-lg-4">
        <div class="main-content">
            <div class="world-boss-sidebar">
                <div class="event" ng-repeat="event in masterList | worldBossSorterETA | limitTo:maxWorldBosses">
                    <img class="preview" src="{{event.img}}" alt="{{event.title}}" title="{{event.title}}" />
                    <span class="title">
                        {{event.title}} <br />
                        {{event.timeRemaining.label}}{{event.timeRemaining.hours | numberFixedLength:2 }}:{{event.timeRemaining.minutes | numberFixedLength:2 }}:{{event.timeRemaining.seconds | numberFixedLength:2 }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Column that shows on mobiles only. -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <div class="main-content">
            <div class="world-boss-sidebar">
                <div class="event" ng-repeat="event in masterList | worldBossSorterAll | limitTo:maxWorldBosses">
                    <img class="preview" src="{{event.img}}" alt="{{event.title}}" title="{{event.title}}" />
                    <span class="title">
                        {{event.title}} <br />
                        {{event.timeRemaining.label}}{{event.timeRemaining.hours | numberFixedLength:2 }}:{{event.timeRemaining.minutes | numberFixedLength:2 }}:{{event.timeRemaining.seconds | numberFixedLength:2 }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>